* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 10%;
  padding: 30px;
  align-items: center;
}

.logo {
height: 50px;
}

.input-search {
  padding: 2px;
}

.btn-search {
  padding: 2px;
  margin-left: 10px;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
  justify-content: center;
  /* position: relative; */
}

.card {
  position: relative;
  margin: 30px 30px;
  width: 150px;
  text-align: center;
}

.img-card {
  height: 250px;
  width: 180px;
}
.title-card {
  margin: 10px 0;
}

.tronca-testo-2 {
-webkit-line-clamp: 3;
}

.tronca-testo {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
}

.box-info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  background-color: white;
}
