<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boolflix</title>
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel="stylesheet" href="css/style.css">
  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <!-- /FONTAWESOME -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <div class="container-app white">
      <!-- intestazione -->
        <header class="overlay">
          <div class="content-header">
              <img class="logo" src="img/logo.png" alt="boolflix-logo">
            <div class="content-title-input">
              <div class="title-header">
                <h1>Film, serie TV e tanto altro. </br> Senza limiti.</h1>
                <p>Guarda ciò che vuoi ovunque. Disdici quando vuoi.</p>
              </div>
              <div class="box-search">
                <input class="input-search" v-model="searchInput" type="text" value="" placeholder="Cerca..." @keyup.enter="searchFilm">
                <button class="btn btn-search white" type="button" name="button" @click="searchFilm">Cerca &#8250;</button>
              </div>
            </div>
          </div>
        </header>
      <!-- /intestazione -->
      <!-- corpo -->
      <main>
        <h2 class="search-results-user" v-show="resultsMovie != 0">{{resultsMovie.length}} risultati per: "{{searchInput}}"</h2>
        <!-- stampa card film -->
        <div class="container-card">
          <div class="results-for-watching">
            <h2 v-show="containFilms('movie')">Film disponibili: </h2>
          </div>
          <div class="content-film">
            <p class="p-no-results" v-show="resultsMovie.length == 0 && startSearch == true">Nessun risultato trovato!</p>
            <div class="card" v-for="(card,indexCard) in resultsMovie" @mouseover="indexMovie = indexCard" @mouseout="indexMovie = null" v-show="card.media_type == 'movie'">
              <!-- foto copertina -->
              <img class="img-card" v-bind:src="(card.poster_path ? 'https://image.tmdb.org/t/p/w400' + card.poster_path : 'img/unnamed.gif')">
              <!-- /foto copertina -->
              <div class="retro-card" v-show="indexMovie == indexCard">
                <h3 class="title-card">{{card.title}}</h3>
                <h4 v-show="card.original_title != card.title" class="title-card">{{card.original_title}}</h4>
                <!-- bandiera -->
                <div class="flags">
                  <img v-bind:src="'img/'+ card.original_language +'.png'" alt="">
                  <i v-else class="fas fa-flag"></i>
                </div>
                <!-- /bandiera -->
                <p v-if="card.overview != 0" class="overview-card">{{card.overview}}</p>
                <p v-else= class="overview-card">Trama non disponibile</p>
                <!-- stelle voto -->
                <div class="vote-stars">
                  <p class="p-star"><span>Voto: </span><i class="fas fa-star" v-for="num in 5" v-bind:class="{'star-grey' : Math.round((card.vote_average/2)) < num}">
                  </i></p>
                </div>
                <!-- /stelle voto -->
              </div>
            </div>
          </div>
          <!-- /stampa card film -->
          <div class="results-for-watching">
            <h2 v-show="containFilms('tv')">Serie tv disponibili: </h2>
          </div>
          <!-- stampa card serie tv -->
          <div class="content-series-tv">
            <div class="card" v-for="(card,indexCard) in resultsMovie" @mouseover="indexMovie = indexCard" @mouseout="indexMovie = null" v-if="card.media_type == 'tv'">
              <!-- immagine copertina -->
              <img class="img-card" v-bind:src="(card.poster_path ? 'https://image.tmdb.org/t/p/w400' + card.poster_path : 'img/unnamed.gif')">
              <!-- /immagine copertina -->
              <div class="retro-card" v-show="indexMovie == indexCard">
                <h3 class="title-card">{{card.title}}</h3>
                <h4 v-show="card.original_title != card.title" class="title-card">{{card.original_title}}</h4>
                <p v-if="card.overview != 0" class="overview-card">{{card.overview}}</p>
                <p v-else class="overview-card">Trama non disponibile</p>
                <!-- bandiera -->
                <div class="flags">
                  <img v-bind:src="'img/'+ card.original_language +'.png'" alt="">
                  <i v-else class="fas fa-flag"></i>
                </div>
                <!-- /bandiera -->
                <!-- stelle voto -->
                <div class="vote-stars">
                  <p class="p-star"><span>Voto: </span><i class="fas fa-star" v-for="index in 5"></i></p>
                  <!-- {{card.vote_average}} -->
                </div>
                <!-- /stelle voto -->
              </div>
            </div>
          </div>
          <!-- /stampa card serie tv -->
        </div>
      </main>
      <!-- /corpo -->
    </div>
  </div>
 <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
